---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hocs-case-creator
  labels:
    version: {{.VERSION}}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: hocs-case-creator
  template:
    metadata:
      labels:
        name: hocs-case-creator
        role: hocs-backend
        version: {{.VERSION}}
    spec:
      imagePullSecrets:
        - name: registry-credentials
      initContainers:
        - name: truststore
          image: quay.io/ukhomeofficedigital/cfssl-sidekick-jks:v0.0.6
          securityContext:
            runAsNonRoot: true
            capabilities:
              drop:
                - SETUID
                - SETGID
          args:
            - --certs=/certs
            - --command=/usr/bin/create-keystore.sh /certs/tls.pem /certs/tls-key.pem /etc/ssl/certs/acp-root.crt
            - --domain=hocs-case-creator.${KUBE_NAMESPACE}.svc.cluster.local
            - --domain=localhost
            - --onetime=true
          env:
            - name: KUBE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          volumeMounts:
            - name: certs
              mountPath: /certs
            - name: keystore
              mountPath: /etc/keystore
            - name: bundle
              mountPath: /etc/ssl/certs
              readOnly: true
          resources:
            limits:
              memory: 64Mi
              cpu: 900m
            requests:
              memory: 16Mi
              cpu: 300m

      containers:
        - name: certs
          image: quay.io/ukhomeofficedigital/cfssl-sidekick:v0.0.6
          securityContext:
            runAsNonRoot: true
            capabilities:
              drop:
                - SETUID
                - SETGID
          args:
            - --certs=/certs
            - --domain=hocs-case-creator.${KUBE_NAMESPACE}.svc.cluster.local
            - --expiry=8760h
            - --command=/usr/local/scripts/trigger_nginx_reload.sh
          env:
            - name: KUBE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          volumeMounts:
            - name: certs
              mountPath: /certs
            - name: bundle
              mountPath: /etc/ssl/certs
              readOnly: true
          resources:
            limits:
              memory: 32Mi
              cpu: 400m
            requests:
              memory: 8Mi
              cpu: 100m

        - name: hocs-case-creator
          image: quay.io/ukhomeofficedigital/hocs-case-creator:{{.VERSION}}
          imagePullPolicy: Always
          securityContext:
            runAsNonRoot: true
            capabilities:
              drop:
                - SETUID
                - SETGID
          envFrom:
            - configMapRef:
                name: hocs-queue-config
            - configMapRef:
                name: hocs-complaint-identity
          env:
            - name: JAVA_OPTS
              value: >
                -Xms768m -Xmx4096m -XX:+UseG1GC -Djavax.net.ssl.trustStore=/etc/keystore/truststore.jks
                -Dhttps.proxyHost=hocs-outbound-proxy.{{.KUBE_NAMESPACE}}.svc.cluster.local
                -Dhttps.proxyPort=31290
                -Dhttp.nonProxyHosts=*.{{.KUBE_NAMESPACE}}.svc.cluster.local
            - name: JDK_TRUST_FILE
              value: '/etc/keystore/truststore.jks'
            - name: SPRING_PROFILES_ACTIVE
              value: 'sqs, sns, s3'
            - name: CASE_CREATOR_CASE_SERVICE
              value: 'https://hocs-casework.{{.KUBE_NAMESPACE}}.svc.cluster.local'
            - name: CASE_CREATOR_WORKFLOW_SERVICE
              value: 'https://hocs-workflow.{{.KUBE_NAMESPACE}}.svc.cluster.local'
            - name: CASE_CREATOR_SHUTDOWN_DELAY_SECONDS
              value: '20'
            - name: CASE_CREATOR_BASICAUTH
              valueFrom:
                secretKeyRef:
                  name: ui-casework-creds
                  key: plaintext
            - name: CASE_CREATOR_SQS_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{.KUBE_NAMESPACE}}-ukvi-complaint-sqs
                  key: access_key_id
            - name: CASE_CREATOR_SQS_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{.KUBE_NAMESPACE}}-ukvi-complaint-sqs
                  key: secret_access_key
            - name: CASE_CREATOR_UKVI_COMPLAINT_QUEUE_NAME
              value:
                '{{.KUBE_NAMESPACE}}-ukvi-complaint-queue'
            - name: CASE_CREATOR_UKVI_COMPLAINT_DL_QUEUE_NAME
              value:
                '{{.KUBE_NAMESPACE}}-ukvi-complaint-queue-dlq'
            - name: AUDIT_APP_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: AUDIT_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: AUDIT_SNS_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{.KUBE_NAMESPACE}}-audit-sqs
                  key: access_key_id
            - name: AUDIT_SNS_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{.KUBE_NAMESPACE}}-audit-sqs
                  key: secret_access_key
            - name: AUDIT_SNS_TOPIC_NAME
              value:
                '{{.KUBE_NAMESPACE}}-sns'
            - name: DOCUMENT_S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{.KUBE_NAMESPACE}}-untrusted-s3
                  key: access_key_id
            - name: DOCUMENT_S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{.KUBE_NAMESPACE}}-untrusted-s3
                  key: secret_access_key
            - name: DOCUMENT_S3_UNTRUSTED_BUCKET_NAME
              valueFrom:
                secretKeyRef:
                  name: {{.KUBE_NAMESPACE}}-untrusted-s3
                  key: bucket_name
            - name: DOCUMENT_S3_UNTRUSTED_BUCKET_KMS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{.KUBE_NAMESPACE}}-untrusted-s3
                  key: kms_key_id
          resources:
            limits:
              cpu: 2000m
              memory: 4096Mi
            requests:
              cpu: 400m
              memory: 768Mi
          volumeMounts:
            - mountPath: /etc/keystore
              name: keystore
              readOnly: true
      volumes:
        - name: keystore
          emptyDir:
            medium: "Memory"
        - name: certs
          emptyDir:
            medium: "Memory"
        - name: bundle
          configMap:
            name: bundle
        - name: secrets
          emptyDir:
            medium: "Memory"
        - name: auth-secrets
          secret:
            secretName: ui-casework-creds
